 body {
    background-color: aqua;
    color: black;
    font-size: 16px;
    width: 100%;
}
h2 {margin: auto;
    
    width: 120;
    background-color: rgb(128, 34, 235);}
ul { padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
     background-color: rgb(219, 164, 81);}

